*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 600px;
    margin: 100px auto;
    display: flex;
}

.actions{
    flex: 1;
    padding: 0 20px;
}
.actions h1{
    font-size: 24px;
}
.actions ul{
    margin: 20px 0;
    list-style-type: none;
}
.actions button{
    padding: 1px;
    margin: 2px 0;
    background-color: #fff;
    outline: none;
    border: 1px solid #747374;
    cursor: pointer;
    border-radius: 5px;
}

.line-vertical{
    border-right: 1px dashed #747374;
    height: auto;
}

.select{
    flex: 1;
    padding: 0 20px;
}

#select{
    width: 100%;
    height: 21px;
    outline: none;
    border: none;
    border-bottom: 1px solid #747374;
    padding: 5px 0;
    resize:none;
    font-size: 18px;
    font-weight: 540;
    cursor: pointer;
}
label{
    transition: .5s;
    position: absolute;
    cursor: pointer;
    top: 105px;
}


.pressed-select{
    transition: .5s;
    margin-left: 20px;
    color: #3c84ff;
    font-size: 15px;
    cursor: default;
    top: 80px;
}
.reversal{
    transition: .5s;
    transform: rotate(180deg);
}

.item{
    display: inline;
}
#select svg{
    transition: .5s;
    float: right;
    padding: 5px 0;
}